<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL DB</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    
    <div class="hero">
        <h1>Register Page</h1>
        <div class="line"></div>

        <div class="form">
            <form method="post" action="/">
                <label>Userid:</label>
                <input type="text" name="user"><br><br>
                <label>Email:</label>
                <input type="email" name="email"><br><br>
                <label>Password:</label>
                <input type="password" name="password" ><br><br>
                <button type="submit" name="submit">Submit</button>
            </form>
        </div>
</body>
</html>